
    <div class="container">
        <div class="jumbotron">
            <h1 class="col-centered">Diligence</h1>
        </div>

        <form   name="myform" class="form-signin" role="form" novalidate>
            <input ng-model="logEmail" type="email" class="form-control" placeholder="Email address" autofocus="">
            <br>
            <input ng-model="logPassword" type="password" class="form-control" placeholder="Password" >
            <br>
        
            <button ng-click="pwlogin()" class="btn btn-lg btn-primary btn-block" type="submit">Sign in with email</button>
            <!-- <button ng-click="authenticate('facebook')" class="btn btn-lg btn-primary btn-block" type="submit">Login with Facebook</button> -->
           <!--  <button ng-click="authenticate('github')" class="btn btn-lg btn-primary btn-block" type="submit">Login with Git Hub</button> -->
            <a ui-sref="register" class="text-right"> Register</a>
      </form>
 
    </div>
 
   