
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="title">{{title}}</h1>
		</div>
	</div>	
	<div class="row">
		<div class="col-sm-12">
			<a class=" btn btn-success add-button" ui-sref="main.add">Add New Task</a>
			<div ui-view class="add-edit-view"></div>
		</div>
	</div>
</div>

<div class="container daily-cont">
	<h3>Daily</h3>
		<div class="col-sm-6 daily">
			<div class="row daily-row">
				<table class="table table-bordered table-striped daily-table">
					<tr>
						<th class="col-sm-3"> Task</th>
						<th class="col-sm-3"> Description</th>
						<th class="col-sm-3"> Completed</th>
						<th class="col-sm-3"> Edit/Delete</th>
					</tr>
					<!-- need to set up to track by item._id !!!! -->
					<tr class="dailytr {active : isSelected(item)}" ng-repeat="item in dailys track by $index">
						<td class="col-sm-3 dailytd">{{item.name}} </td>
							<td class="col-sm-3">{{item.description}}</td>
							<td class="col-sm-3">
		  					<input ng-model="checkBox" ng-change="checkOff(item)" type="checkbox" />
							</td>
							<td class="table-icons">
								<i class="fa fa-pencil" ng-click="editTask(item)"></i> 
								<i class="fa fa-trash" ng-click="deleteTask(item)"></i>
						</td>
					</tr>
		</table>
</div>

