
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="title">Oye {{myData.username}}, There are {{hoursLeft}} hours left in the day... <br/> {{appTitle}}!</h1>
			<br>
		</div>
	</div>	
	<div class="row">
		<div class="col-sm-12">
		
			<!-- <a ng-hide="addEdit" class=" btn btn-info add-button"  ui-sref="main.add"><span ng-show="true">Add New Task</span></a>
			<a ui-sref="main.add"><span class=" btn btn-warning add-button" ng-show="true">Add New Appointment</span></a>	
			<a ui-sref="main.add" ng-click="newContact; !newAppointment; !newTask"><span class=" btn btn-success add-button" ng-show="true">Add New contact</span></a> -->

		<!-- 	<a class=" btn btn-success addAppt-button" ui-sref="main.add" ng-click="addAppt()">Add New Appointment</a> -->
			
			<div ui-view class="add-edit-view"></div>
		
		</div>
	</div>
</div>

<div class="container daily-cont">
<!-- 	<h3 class="row">{{currentView}}:</h3>
	<div class="row">
		<p class= "col-sm-4">double click {{tHeads.col1}} for details</p>
	</div> -->

		<div class="col-sm-6 daily">
			<div class="row daily-row">
				</div>
				<div>
					<left-view />
				</div>
				<div> 
					<right-view />
				</div >
		<div class="col-sm-6">
			<div ng-show="false">
			<tools />
			</div>
			<div ng-show="false">
			<searchDisplay />
			</div>
			<div ng-show="false">
			<archives />
			</div>
		</div>
		<span class="row">
			<span class="col-sm-12">
				<a ng-hide="addThis" ng-repeat="button in addBtns" ng-click="addNew(button)" ui-sref="main.add" class="btn" ng-class="button.classIs">Add New {{button.name}}</a>
			</span>
		</span>
</div>
</div>
