<div class="container task-form-cont">
	<div class="row">
		<table class="col-sm-12 table add-task-table">
			<tbody>
			<tr class="add-task-row row">
				<td class="add-task-task">
					<label for="Taskname">task name</label>
					<input ng-model="task_name" type="text" placeholder="input new task" class="input-task">
				</td>
				<td class="add-task-descript">
					<label for="description">description</label>
					<input ng-model="task_description" type="text" placeholder="desciprtion" class="input-descript">
				</td>
				<td class="add-task-completeBy">
					<label ng-hide="!todo" for="complete_by">Complete By</label>
					<label ng-hide="todo" for="complete_by">Appt Date</label>
					<input required ng-model="completeBy" type="date" placeholder="complete By" class="input-descript">
				</td>
				<td class="add-task-recurrence">
					<label for="selectFreq">frequency</label>
					<select ng-model="frequency" id="selectFreq" placeholder="desciprtion" class="input-recurrence">
						<option value="weekly">weekly</option><option value="daily">daily</option>
						<option value="other">other</option>
					</select>
				</td>
					<td class="add-task-reminder">
					<label  for="selectFreq">email reminder</label>
					<select ng-model="email_reminder" id="selectFreq" placeholder="desciprtion" class="input-recurrence">
						<option value="none">none</option><option value="day before">week Before</option>
						<option value="week before">Day Before</option>
						<option value="hour before">Hour Before</option>
					</select>
				</td>
				<td class="addCancel-task-butt" >
					<button ng-click="submitTask()" class="add-task-btn btn btn-sm btn-info">Sumbit</button>
					<button ng-click="closePopUp()" class="cancel-add-btn btn btn-sm btn-danger">Cancel</button>
				</td>
			</tr>
				<tr class="row">
					<td class="col-sm-12" colspan="5">
				<input id="addl-info" type="text" ng-model="additional_info" class="input-lg col-sm-12" placeholder="additional details">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
