/*.task-form-cont{
	border: 3px solid white;
}*/

#addl-info{
	width: 100%;
}

.add-button{
  margin-bottom: 2em;
}

.strike{
	text-decoration: line-through;
}

.add-task-cont{
}

.add-task-table{
	border-radius: 7px;
	color: black;
	background-color: #99bbff;
}

.details{
	display: inline;
}