/*.task-form-cont{
	border: 3px solid white;
}*/
.task-search{
	margin-top: 1%;
	margin-left: 3%;
	margin-right: 3%;
}

.my-task{
	padding-left: 3%;
}

.select-search{
	margin-top: 1%;
	margin-left: 3%;
	color: lightblue;
	background-color: white;
}

.search-results{
	border-radius: 7px;
	margin-top: 3%;
	background: lightgray;
	color: #99bbff;
}

.s-result:hover{
	cursor: pointer;
	font-size:1.5em;
}

.search-opt{
	font-size: 20px;
	background-color:white;
}

#addl-info{
	width: 100%;
}

.add-button{
  margin-bottom: 2em;
}

.strike{
	text-decoration: line-through;
}

.add-task-cont{
}

.add-task-table{
	border-radius: 7px;
	color: black;
	background-color: #99bbff;
}

.details{
	display: inline;
}