
    <div class="container sign-in">
        <div class="jumbotron">
            <h1 class="home-title col-centered">{{appTitle}}</h1>
            <br>
            <h3>{{tagLine}}</h3>
                <a ng-hide="onRegister || loginButton()"  ng-click="onRegister = true" ui-sref="register" class="reg-btn pull-right">Register</a>
        </div>

        <form   name="myform" class="form-signin" role="form" novalidate>
            <input ng-model="logEmail" type="email" class="form-control" placeholder="Email address" autofocus="">
            <br>
            <input ng-model="logPassword" type="password" class="form-control" placeholder="Password" >
            <br>
        
            <button ng-click="pwlogin()" class="btn btn-lg btn-primary btn-block" type="submit">Signin with email</button>
             <br>
            <div class="oauth-logins">
<!--             <button ng-disabled="true" ng-click="authenticate('facebook')" class="btn btn-lg btn-info  col-lg-6 col-md-6 col-sm-12 col-xs-12" type="submit">Login with Facebook</button> -->
            <button ng-click="authenticate('github')" class="btn btn-lg btn-info  col-lg-6 col-md-6 col-sm-12 col-xs-12" type="submit">Login with Git Hub</button>
            </div>
      </form>
 
    </div>
 
   