				<table class="table table-bordered table-striped daily-table">
					<tr>
						<th class="col-sm-2" ng-click=sortTasks('name')> {{tHeads.col1}} <span>&nbsp;</span><span ng-hide="!sorted"class="fa fa-chevron-down"></span><span ng-hide="sorted" class="fa fa-chevron-up"></span> </th>
						<th class="col-sm-2"> {{tHeads.col2}}</th>
						<th class="col-sm-2"> {{tHeads.col3}} </th>
						<th class="col-sm-2" ng-click="sortTasks('date')" >{{tHeads.col4}}<span>&nbsp;</span><span ng-hide="!sorted2"class="glyphicon glyphicon-chevron-down"></span><span ng-hide="sorted2" class="glyphicon glyphicon-chevron-up"></span> </th>
						<th class="col-sm-2"> {{tHeads.col5}}</th>

						<th class="col-sm-2 text-center"> 
							<div class="">
								<span class="">{{tHeads.col6}}</span>
							</div>
						</th>
					</tr>
					<!-- need to set up to track by item._id !!!! -->
					<tr class="row-data" ng-class='striking(item)' ng-repeat="item in rowData track by $index">
						<td  ng-dblclick="viewDetails()" class="col-sm-2 dailytd"><span >{{item.task_name}} </span></td>
							<td class="col-sm-2">{{item.task_description}}</td>
							<td class="col-sm-2">{{item.frequency}}</td>
							<!-- ng-show="item.completeBy == 2016-02-04T08:00:00.000Z" -->
							<td  ng-hide="true" class="blankCompleteBy">	&nbsp;</td>
							<td class="col-sm-2">{{item.completeBy | amDateFormat:'ll'}}</td>
							<!-- <td class="col-sm-2">{{item.}}</td> -->
							<td class="col-sm-2 text-center"> 
								<i class="fa fa-pencil modal-button" ng-click="goToEdit(item)"></i> 
								<i class="fa fa-trash" ng-click="deleteItem(item)"></i>
							</td>
							<td class="table-icons text-center">
		  					<div class="">
									<a ng-hide="currentView === 'Archives'" ng-click="checkOff(item)"  class=" btn btn-sm btn-success row">{{tHeads.col7}}</a>	
									<a ng-show="currentView === 'Archives'" ng-click="checkOff(item); striker = 'un-strike'"  class=" btn btn-sm btn-success row">{{tHeads.col7}}</a>
								</div>
						</td>
					</tr>	
		</table>