<div>
	<button class="btn btn-success" ng-click="showInputForm()">Add New Cards</button>
	<button class="btn btn-info" ng-click="playCards()">Play Cards</button>
	<button class="btn btn-danger" ng-click="closeTool()">Close</button>
	<form ng-show="addCards" action="submit">	
		<input ng-show="toolBelt === 'Flash Cards'" type="text" ng-model="newCard" placeholder="input question">
		<input ng-show="toolBelt === 'Flash Cards'" type="text" ng-model="newCard" placeholder="input answer">
		<button class="btn btn-warning btn-sm" action="">submit</button>
	</form>
	<div class="cardQuestion">{{card.question}}</div>
	<div class="cardAnswer">{{card.answer}}</div>
	<div>
	<!-- 	<span ng-repeat="link in links">
			<input ng-show="!{{link.url}}" type="text" ng-model="{{link}}Link" placeholder="input your {{link.name}}link">
			<a ng-show="{{link.url}}" ng-href="{{link.url}}" class="twitter" target="_blank"><i class="fa fa-{{link.name}}"></i></a>
		</span> -->
			
<!-- 			<a ng-show="wordPress" ng-href="{{wordPress}}" target="_blank" class="wordpress"><i class="fa fa-wordpress"></i></a>
			<a ng-show="git" ng-href="{{git}}" target="_blank" class="git"><i class="fa fa-git-square"></i></a>
			<a ng-show="linkedin" ng-href="{{linkedin}}"target="_blank" class="linkedin"><i class="fa fa-linkedin-square"></i></a>
			<a ng-show="stackOverflow" ng-href="{{stackOverflow}}" target="_blank"><i class="fa fa-stack-overflow" ></i></a>
			<a ng-show="angellist" ng-href="{{angellist}}" target="_blank"><i class="fa fa-angellist"></i></a> -->
	</div>
</div>