<div class="container">
	<table class="table table-bordered add-task-table">
		<tr class="add-task-row">
			<td class="add-task-task">
				<input type="text" placeholder="input new task" class="input-task">
			</td>
			<td class="add-task-descript">
				<input type="text" placeholder="desciprtion" class="input-descript">
			</td>
			<td class="add-task-recurrence">
				<label for="selectFreq">frequency</label>
				<select id="selectFreq" placeholder="desciprtion" class="input-recurrence">
					<option value="weekly">weekly</option><option value="daily">daily</option>
					<option value="other">other</option>
				</select>
			</td>
		</tr>

	</table>
	
</div>