<div>
		<button class="btn btn-danger" ng-click="closeTools()">Close Tools</button>
	<div ng-show="toolBelt === 'Flash Cards'">
		<div >
			<button class="btn btn-success" ng-click="showInputForm()">Add New Cards</button>
			<button class="btn btn-info" ng-click="dealCard()">Play Cards</button>
			<div ng-show="addCards" >	
				<input  type="text" ng-model="question" placeholder="input question or term" >
				<br><br>
				<textarea class="textarea" rows="5" type="text" ng-model="answer" placeholder="input answer or explanation" > </textarea>
				<br>
				<input class="link" ng-model="cardLink" type="text" placeholder="url to answer">
				<br>
				<span>
				<button ng-disabled="!question && !answer" ng-click="addFlash()"class="btn btn-warning btn-sm" >submit</button>
				</span>
			</div>
			<div ng-hide="playCards" class="cards-QA-List" ng-repeat="card in cards track by $index">
				<span class="inner-cards">
						<i class="fa fa-trash" ng-click="deleteTool($index)"></i>
					<i class="fa fa-pencil modal-button" ng-click="editMe(card, $index)"></i> 
						<br>
					<span >
						{{card.question}} : <br> {{card.answer}} <br> {{card.cardLink}}
					</span>
				</span>
				
			</div>
		</div >
			<div class="playCards-container" ng-show="playCards && !addCards">
				<h3>click to change to answer or next card</h3>
				<div ng-show="quest && playCards" class="card-question"  ng-click="quest = false" >
					<span>{{showCard.question}}</span>
				</div>
				<div ng-hide="quest && playCards" class="card-answer" ng-click="dealCard()">
					<span hide="!showCard.link">{{showCard.answer}} 	</span>
					<a target="_blank" href="{{showCard.cardLink}}" style="color: black"> {{showCard.cardLink}} </a>
			</div>
		</div>

	</div>
	<div ng-show="toolBelt === 'Social Media'">
		<h1>SOCIAL LINKS</h1>
		<div ng-repeat="social in socials track by $index">
			<input ng-show="social === 'twitter' || social === 'git'|| social === 'wordPress' || social === 'linkedin' || social ===  'angellist'" type="text" placeholder="input your link">
			<button class="btn btn-sm btn-success" ng-click="addSocial(social)">submit</button>

		</div>
			<!-- <a ng-show="" ng-href="" class="twitter" target="_blank"><i class="fa fa-{{link}}"></i>{{link}}</a> -->
<!-- 			<a ng-show="wordPress" ng-href="{{wordPress}}" target="_blank" class="wordpress"><i class="fa fa-wordpress"></i></a>
			<a ng-show="git" ng-href="{{git}}" target="_blank" class="git"><i class="fa fa-git-square"></i></a>
			<a ng-show="linkedin" ng-href="{{linkedin}}"target="_blank" class="linkedin"><i class="fa fa-linkedin-square"></i></a>
			<a ng-show="stackOverflow" ng-href="{{stackOverflow}}" target="_blank"><i class="fa fa-stack-overflow" ></i></a>
			<a ng-show="angellist" ng-href="{{angellist}}" target="_blank"><i class="fa fa-angellist"></i></a> -->
	</div>
</div>

