/*.task-form-cont{
	border: 3px solid white;
}*/
.card-question{
	padding: 5%;
	background-color: red;
	border: 2px solid black;
	font-size: 24px;
}

.card-answer{
	padding: 5%;
	background-color: white;
	border: 2px solid black;
	font-size: 24px;
}

.details{
	display: inline;
}
/*------------

	NAV BAR

-------------*/

.login-btn{
	font-size: 25px;
}

.task-search{
	margin-top: 1%;
	margin-left: 3%;
	margin-right: 3%;
}

.my-tasks-btn{
	margin-left:2%;
}
.my-task{
	padding-left: 3%;
}

.select-search{
	margin-top: 1%;
	margin-left: 3%;
	color: lightblue;
	background-color: white;
}

.search-all {
/*  padding-left: 15%;
  padding-right: 15%;*/
  padding-bottom: 3%;
 /* margin-left: 15%;*/
  margin-top: 2%;
}

.results-container{
	background-color: lightgray;
	border-radius: 7px;
}

.search-results{

	margin-top: 3%;
	background-color: lightgray;
	color: #99bbff;
}

.s-result, .search-repeat{
	background-color: lightgray;
}

.s-result:hover{
	cursor: pointer;
	font-size:1.5em;
}

.search-opt{
	font-size: 20px;
	background-color:white;
}

/*------------

ADD/EDIT FORM

-------------*/
.t-form-input{

}

#addl-info{

	width: 50%;
}

.add-btn{
	border-radius: 7px;
}

.add-task-cont{
}

.add-task-table{
	border-radius: 7px;
	color: black;
	background-color: #99bbff;
}


/*------------

	MAIN VIEW

-------------*/

.archive-btn{
	padding: 5px 4px;
}

.strike{
	text-decoration: line-through;
}
.un-strike{
	text-decoration: none;
}



/*------------

LOGIN/REGISTER

-------------*/
.home-title{
	font-size: 70px;
}

.sign-in{
	margin-bottom: 10%;
}

.reg-btn{
/*	margin:;*/
	font-size: 25px;
	font-weight: bold;
	border-radius: 10px;
	border: 2px solid white;
	padding: 2%;
}

.reg-btn:hover{
	text-decoration: none;
}

.oauth-logins{

}




